/*_Font Declaration_*/
/*@font-face {
	font-family: 'Post No Bills Jaffna Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Post No Bills Jaffna Regular'), url('fonts/PostNoBillsJaffna-Regular.woff') format('woff');
}*/


@font-face {
	font-family: 'Post No Bills Jaffna Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Post No Bills Jaffna Bold'), url('fonts/PostNoBillsJaffna-Bold.woff') format('woff');
}


/*@font-face {
	font-family: 'Post No Bills Jaffna Light Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Post No Bills Jaffna Light Regular'), url('fonts/PostNoBillsJaffna-Light.woff') format('woff');
}


@font-face {
	font-family: 'Post No Bills Jaffna Medium Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Post No Bills Jaffna Medium Regular'), url('fonts/PostNoBillsJaffna-Medium.woff') format('woff');
}


@font-face {
	font-family: 'Post No Bills Jaffna SemiBold Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Post No Bills Jaffna SemiBold Regular'), url('fonts/PostNoBillsJaffna-SemiBold.woff') format('woff');
}


@font-face {
	font-family: 'Post No Bills Jaffna ExtraBold Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Post No Bills Jaffna ExtraBold Regular'), url('fonts/PostNoBillsJaffna-ExtraBold.woff') format('woff');
}*/
/*_Font Declaration_*/


/*_Reset_*/
body {
	background-color: black;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	width: 100%;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
}
/*_Reset_*/


/*_Header_*/
header {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	transition: top 250ms ease-in-out;
	z-index: 2;
}

header > * {
	padding: 0 10%;
}

@media only screen and (min-width: 1500px) {
	header > * {
		padding: 0 20%;
	}
}

@media only screen and (max-width: 767px) {
	header > * {
		padding: 0 2%;
	}
} 


/*___Fake___*/
.fake {
	height: 2.5rem;
	font-size: 0.8rem;
	background-color: #000;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.fake > * {
	height: 100%;
}

.fake * {
	color: #848484;
}

.fake__left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.fake__left span {
	padding: 0 1vw;
}

.fake__left .bordered {
	border-left: 1px solid #848484;
	border-right: 1px solid #848484;
}

.fake__right {
	cursor: pointer;
	padding: 0 1rem;
	background-color: #000;
	border: none;
	transition: background-color 150ms ease-in;
	display: flex;
	align-items: center;
}

.fake__right:hover {
	background-color: #333;
	height: 100%;
}

.fake__right img {
	margin-right: 1rem;
}

@media only screen and (max-width: 767px) {
	.fake {
		display: none;
	}
}
/*___Fake___*/


/*___Real___*/
.real {
	background-color: #0f0f0f;
	height: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.real__left {
	display: inline-block;
	font-family: 'Post No Bills Jaffna Bold';
	color: white;
	font-size: 2rem;
	cursor: default;
}

.real__right {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}

.real__right .menu {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 100%;
}


.real__right button {
	max-height: 100%;
}

.real__right img {
	object-fit: contain; 
}

.label {
	color: white;
	font-size: 1rem;
	display: none;
}

#toggle {
	display: none;
}

@media only screen and (max-width: 767px) {
	.label {
		display: block;
		cursor: pointer;
		font-size: 2.4rem;
		color: white;
		transition: color 150ms ease-in;
	}

	.real {
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}

	.real__left {
		font-size: 2.4rem;
	}

	.real__right {
		flex-direction: column;
		align-items: flex-end;
		width: 100%;
	}

	.real__right .menu {
		flex-direction: column;
		align-items: flex-end;
		width: 100%;
		display: none;
	}



	#toggle:checked + .menu {
		display: flex;
	}


	.real__right .menu > * {
		width: 100%;
		text-align: right;
		font-size: 1rem;
		height: 1.8rem;
		line-height: 1.8rem;
		margin: 0.8rem 0;
	}
}

.real__right button {
	display: inline-block;
	font-size: 1rem;
	background-color: #0f0f0f;
	padding: 0 1vw;
	border: none;
	height: 100%;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color 150ms ease-in;
}

.real__right button:hover {
	background-color: #2f2f2f;
}
/*___Real___*/
/*_Header_*/
/*_Main_*/
main {
	padding-top: 7.5rem;
	transition: padding-top 250ms ease-in-out;
	z-index: 1;
}

@media only screen and (max-width: 767px) {
	main {
		padding-top: 1.8rem; 
	}
}

/*___Hero___*/
.hero {
	background-image: url('images/HERO1.png');
	background-size: cover;
	background-position: center;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.hero .logo {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: white;
	border: 3px solid white;
	text-align: center;
	padding: 7rem 5rem;
	width: auto;
	height: auto;
	text-transform: uppercase;
	cursor: default;
	margin: 7rem 0 0;
}

.hero .logo__top {
	font-family: 'Post No Bills Jaffna Bold';
	font-size: 4rem;
	line-height: 4rem;
	border-bottom: 3px solid white;
}

.hero .logo__bottom {
	margin-top: 1rem;
	font-size: 1.4rem;
}

.hero .description {
	padding: 0 10%;
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin: 4rem 10% 7rem;
}

@media only screen and (min-width: 1500px) {
	.hero .description {
		padding: 0 20%;
	}
}

@media only screen and (max-width: 767px) {
	.hero {
		height: auto;
		background-size: cover;
		background-position: center;
	}

	.hero .logo {
		margin: 10rem 2rem 2.5rem;
		padding: 17vw 13vw;
	}

	.hero .logo__top {}

	.hero .description {
		margin: 2.5rem 2rem 2.5rem;
		font-size: 0.9rem;
	}
}
/*___Hero___*/


/*___Demo___*/

.demo {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: nowrap;
	height: auto;
}

@media only screen and (max-width: 767px) {
	.demo {
		flex-direction: column;
		height: auto;
	}
}

.demo__left {
	display: flex;
	flex: 55%;
	padding: 5rem 2rem;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.demo__left .title {
	font-size: 1.7rem;
	font-family: "Playfair Display", sans-serif;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	margin-bottom: 2.5rem;
}

.demo__left .line {
	height: 1px;
	width: 18%;
	background-color: white;
	margin-bottom: 2.5rem;
}

.splide {
	width: 100%;
	margin: 0 auto;
}

.splide__list__mobile {
	display: none;
}

.splide__list {
	margin: 0;
	padding: 0 2rem;
	display: flex;
	width: initial;
	flex-direction: row;
	justify-content: space-between;
	
}

.navButtons {
	display: none;
}

.splide__slide {
	padding: 0;
	flex: 0 1 33.333%;
	height: 21.09375vw;
	max-width: 13.542vw;
	cursor: pointer;
	opacity: 1;
	transition: opacity 150ms ease-in;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.splide__slide img {
	max-width: 13.542vw;
	height: 18vw;
	object-fit: contain;
	background-color: #1a1b1d;
}

.splide__slide:hover {
	opacity: 0.7;
}

.splide__slide .text {
	margin: 1rem 0 0;
}

.splide__slide .text * {
	color: white;
	font-family: 'Playfair Display', sans-serif;
	font-weight: 400;
}

.splide__slide h3 {
	font-size: 1rem;
}

.splide__slide h4 {
	font-size: 0.85rem;
	font-weight: 700;
}

/*@media only screen and (min-width: 1500px) {
	.demo__left {
		padding: 5rem 3%;
	}

	.splide {
		margin: 0 -1.5%;
	}
	.splide__list {
	}

	.splide__slide {
		padding: 0;
	}

	.splide__slide h3 {
		font-size: 1.2rem;
	}

	.splide__slide h4 {
		font-size: 1rem;
		font-weight: 700;
	}
}*/

@media only screen and (max-width: 767px) {
	.demo__left {
		width: 100%;
		padding: 4rem 0 2rem;
		overflow: hidden;
	}

	.demo__left .title {
		font-size: 2.3rem;
		text-align: center;
		width: auto;
	}

	.demo__left .line {
		width: 50%;
	}

	.splide__list {
		display: none;
		width: auto;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: 0 -1%;
	}

	.splide {
		padding: 0;
		position: relative;
		overflow: hidden;
	}

	.splide__list__mobile {
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.splide__slide__mobile {
		display: none;
		animation: fadeout 250ms ease-in;
	}

	.splide__slide__mobile.active-toRight,
	.splide__slide__mobile.active-toLeft,
	.splide__slide__mobile.prev-toRight,
	.splide__slide__mobile.prev-toLeft {
		display: block;
		width: 38.52vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 80vw;
	}

	.splide__slide__mobile.prev-toRight,
	.splide__slide__mobile.prev-toLeft,
	.list .cards__mobile .card__mobile.prev-toRight,
	.list .cards__mobile .card__mobile.prev-toLeft,
	.partners .brands__mobile .card__mobile.prev-toRight,
	.partners .brands__mobile .card__mobile.prev-toLeft {
		display: block;
		position: absolute;
	}

	.splide__slide__mobile.prev-toRight,
	.list .cards__mobile .card__mobile.prev-toRight,
	.partners .brands__mobile .card__mobile.prev-toRight {
		animation: fadeout-toRight 250ms ease-in;
		opacity: 0;
	}

	.splide__slide__mobile.prev-toLeft,
	.list .cards__mobile .card__mobile.prev-toLeft,
	.partners .brands__mobile .card__mobile.prev-toLeft {
		animation: fadeout-toLeft 250ms ease-in;
		opacity: 0;
	}

	.splide__slide__mobile.active-toRight {
		animation: fade-toRight 250ms ease-in;
	}

	.splide__slide__mobile.active-toLeft {
		animation: fade-toLeft 250ms ease-in;
	}

	@keyframes fade-toRight {
		0% {
			transform: translateX(100%) scale(0.85);
			opacity: 0;
		}

		100% {
			transform: translateX(0) scale(1);
			opacity: 1;
		}
	}

	@keyframes fade-toLeft {
		0% {
			transform: translateX(-100%) scale(0.85);
			opacity: 0;
		}

		100% {
			transform: translateX(0) scale(1);
			opacity: 1;	
		}
	}

	@keyframes fadeout-toRight {
		0% {
			opacity: 1;
			transform: translateX(0) scale(1);
		}

		50% {
			opacity: 0.15;
			transform: translateX(-50%) scale(0.925);
		}

		100% {
			opacity: 0;
			transform: translateX(-100%) scale(0.85);
		}
	}

	@keyframes fadeout-toLeft {
		0% {
			opacity: 1;
			transform: translateX(0) scale(1);
		}

		50% {
			opacity: 0.15;
			transform: translateX(50%) scale(0.925);
		}

		100% {
			opacity: 0;
			transform: translateX(100%) scale(0.85);
		}
	}

	.splide__slide__mobile img {
		background-color: #1a1b1d;
		height: 60vw;
		max-width: 38.52vw;
		object-fit: contain;
	}

	.splide__slide__mobile .text {
		margin: 0.5rem 0 0;
		width: 100%;
	}

	.splide__slide__mobile h3 {
		font-family: 'Playfair Display';
		font-weight: 400;
		color: white;
		font-size: 1rem;
	}

	.splide__slide__mobile h4 {
		font-family: 'Playfair Display';
		font-weight: 400;
		color: white;
		font-size: 0.8rem;
	}

	.navButtons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100vw;
		position: absolute;
		left: 0;
		top: -10%;
		height: 100%;

	}

	.navButtons * {
		color: white;
		font-size: 2rem;
		padding: 0 2.5%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(255, 255, 255, 0);
		transition-property: color background-color;
		transition-duration: 50ms;
		transition-timing-function: ease-in;
	}

	.navButtons *:active {
		background-color: rgba(255, 255, 255, 0.2);
	}
}

.demo__right {

	width: 100%;
	background-image: url('images/NEWCOLLECTION.png');
	background-size: cover;
	background-position: top;
	flex: 45%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 0;
}

.demo__right .title {
	text-transform: uppercase;
	font-family: 'Playfair Display';
	font-size: 2rem;
	font-weight: 700;
	color: white;
	margin-bottom: 2rem;
}

.demo__right .line {
	height: 1px;
	width: 15%;
	background-color: white;
	margin-bottom: 2rem;
}

.demo__right button {
	border: 1px solid white;
	padding: 1rem 2vw;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 6rem;
	letter-spacing: 1px;
	cursor: pointer;
	transition-property: color background-color border;
	transition-duration: 150ms;
	transition-timing-function: ease-in;
}

.demo__right button:hover {
	color: rgba(0, 0, 0, 1);
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 767px) {
	.demo__right {
		background-size: cover;
		background-position: top;
		width: 100%;
	}


	.demo__right .title {
		font-size: 2.5rem;
		margin: 2rem 1rem 10rem;
		/*margin-top: 2rem;
		margin-bottom: 5rem;*/
		color: white;
		text-shadow: 0 0 1rem rgba(0, 0, 0, 1);
		text-align: right;
		}

	.demo__right button {
		width: 70%;
		margin-bottom: 3rem;
	}

	.demo__right .line {
		display: none;
	}
}
/*___Demo___*/


/*___HERO2___*/
.hero2 {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: nowrap;
	height: auto;
}

.hero2 .left {
	flex: 46%;
	/*background-image: url('images/HERO2.png');*/

	background-size: cover;
	background-position: center;
	height: initial;
}

.hero2 .left img {
	height: 100%;
	width: 90%;
	object-fit: cover;
	object-position: center;
}

.hero2 .right {
	flex: 54%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: white;
	padding: 5rem 15%;
}

.hero2 .title {
	font-family: 'Playfair Display';
	font-weight: 400;
	font-size: 2rem;
	text-transform: uppercase;
	margin-bottom: 2rem; 
}

.hero2 .line {
	height: 1px;
	width: 18%;
	background-color: white;
	margin-bottom: 2rem;
}

.hero2 .description {
	background-color: rgba(0, 0, 0, 0);
	text-align: center;
	margin-bottom: 4rem;
	font-size: 0.9rem;
}

.hero2 button {
	border: 1px solid white;
	padding: 1rem 2vw;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	letter-spacing: 1px;
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
	cursor: pointer;
	transition-property: color background-color border;
	transition-duration: 150ms;
	transition-timing-function: ease-in;
}

.hero2 button:hover {
	color: #000;
	background-color: white;
	border: 1px solid #ccc;
}

@media only screen and (max-width: 767px) {
	.hero2 {
		flex-direction: column;
		height: auto;
	}

	.hero2 .left {
		order: 2;
		width: 100%;
	}

	.hero2 .left img {
		width: 100%;
		object-fit: contain;
		object-position: center;
	}

	.hero2 .right {
		/**/
		order: 1;

	}


	.hero2 .title {
		font-size: 2.5rem;
		text-shadow: 0 0 1rem black;
	}

	.hero2 .line {
		width: 50%;
	}

	.hero2 button {
		width: 100%;
	}

	.hero2 .description {
		font-size: 1rem;
		margin-bottom: 1.5rem;
		text-align: left;
	}
}

@media only screen and (min-width: 1500px) {
	.hero2 .description {
		margin-bottom: 7rem;
	}

	.hero2 .title {
		margin-bottom: 3rem;
	}

	.hero2 .line {
		margin-bottom: 3rem;
	}
}
/*___HERO2___*/


/*___List___*/
.list {
	display: flex;
	flex-direction: column;
	padding: 5rem 20%;
	width: 100%;
}

.list .title {
	font-family: 'Playfair Display';
	font-weight: 700;
	font-size: 2rem;
	color: white;
	text-align: center;
	width: 100%;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

.list .line {
	height: 1px;
	width: 18%;
	background-color: white;
	margin-bottom: 4rem;
	margin-left: auto;
	margin-right: auto;
}

.list .cards__mobile {
	display: none;
}

.list .cards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 -1%;
}

.cards .card {
	flex: 0 1 25%;

	height: 21.09375vw;
	max-width: 13.542vw;
	padding: 0;
	margin-bottom: 2%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	cursor: pointer;
	opacity: 1;
	transition: opacity 150ms ease-in;
}

.cards .card:hover {
	opacity: 0.7;
}

.cards .card img {
	width: 100%;
	height: 22.7vw;
	object-fit: contain;
	padding: 0;
	margin: 0;
	background-color: #1a1b1d;
}

.cards .card .text {
	margin: 1rem 0 0;
}

.cards .card .text * {
	color: white;
	font-family: 'Playfair Display', sans-serif;
	font-weight: 400; 
}

.cards .card h3 {
	font-size: 1rem;
}

.cards .card h4 {
	font-size: 0.85rem;
}

/*@media only screen and (min-width: 1500px) {
	.list {
		padding: 5rem 20%;
	}

	.cards .card img {
		height: 18.7vw;
	}

	.cards .card h3 {
	font-size: 1.5rem;
	}

	.cards .card h4 {
		font-size: 1.3rem;
	}
}*/
@media only screen and (max-width: 767px) {
	.list {
		padding: 3rem 0;
		overflow: hidden;
	}

	.list .title {
		font-size: 2.4rem;
		margin: 0rem 0rem 3rem;
		width: 100%;
		text-align: center;
	}

	.list .line {
		width: 50%;
	}

	.list .ce {
		width: 100%;
		position: relative;
		padding: 0;
		overflow: hidden;
	}

	.list .navButtons {
		position: absolute;
	}

	.list .cards {
		display: none;
	}

	.list .cards__mobile {
		display: flex;
		justify-content: center;
		width: 100%;
		overflow: hidden;
	}

	.list .cards__mobile .card__mobile {
		display: none;
	}

	.list .cards__mobile .card__mobile.active-toRight,
	.list .cards__mobile .card__mobile.active-toLeft {
		width: 38.52vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 80vw;
		overflow: hidden;
	}

	.list .cards__mobile .card__mobile.active-toRight {
		animation: fade-toRight 250ms ease-in;
	}

	.list .cards__mobile .card__mobile.active-toLeft {
		animation: fade-toLeft 250ms ease-in;
	}

	.cards__mobile .card__mobile .text {
		width: 100%;
		margin: 0.5rem 0 0;
	}

	.cards__mobile .card__mobile img {
		background-color: #1a1b1d;
		height: 60vw;
		max-width: 38.52vw;
		object-fit: contain;
	}

	.cards__mobile .card__mobile h3 {
		font-family: 'Playfair Display';
		font-weight: 400;
		color: white;
		font-size: 1rem;
	}

	.cards__mobile .card__mobile h4 {
		font-family: 'Playfair Display';
		font-weight: 400;
		color: white;
		font-size: 0.8rem;
	}
	
}
/*___List___*/


/*___Partners___*/
.partners {
	display: flex;
	flex-direction: column;
	padding: 2rem 10%;
	background-color: #0f0f0f;
}

.partners .title {
	font-family: 'Playfair Display';
	font-weight: 700;
	font-size: 2rem;
	color: white;
	text-transform: uppercase;
	margin-bottom: 2rem;
	text-align: center;
}

.partners .line {
	height: 1px;
	width: 18%;
	background-color: white;
	margin-bottom: 3rem;
	margin-left: auto;
	margin-right: auto;
}

.partners .brands__mobile {
	display: none;
}

.partners .brands {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0 -1%;
}

.partners .card {
	flex: 0 1 25%;
	padding: 0 1%;
}

.partners img {
	width: 100%;
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: opacity 150ms ease-in;
}

.partners img:hover {
	opacity: 0.7;
}

@media only screen and (min-width: 1500px) {
	.partners {
		padding: 5rem 20% 4rem;
	}
}

@media only screen and (max-width: 767px) {
	.partners {
		padding: 4rem 0;
	}

	.partners .title {
		font-size: 2.5rem;
		width: 100%;
		text-align: center;
	}

	.partners .line {
		width: 50%;
	}

	.partners .cd {
		width: 100%;
		position: relative;
	}

	.partners .brands {
		display: none;
		flex-wrap: wrap;
	}

	.partners .brands__mobile {
		display: flex;
		justify-content: center;
	}

	.partners .brands__mobile .card__mobile {
		display: none;
	}

	.partners .brands__mobile .card__mobile.active-toRight,
	.partners .brands__mobile .card__mobile.active-toLeft {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: auto;
		overflow: hidden;
	}

	.partners .brands__mobile .card__mobile.active-toRight {
		animation: fade-toRight 250ms ease-in;
	}

	.partners .brands__mobile .card__mobile.active-toLeft {
		animation: fade-toLeft 250ms ease-in;
	}
}
/*___Partners___*/
/*_Main_*/


/*_Footer_*/
/*___Real___*/
.footer__real {
	background-image: url('images/FOOTER.png');
	background-size: cover;
	background-position: center;
	width: 100%;
	padding: 0;
	margin: 0;
}

.footer__real .wrapper {
	width: 100%;
	padding: 0 10%;
}

@media only screen and (min-width: 1500px) {
	.footer__real .wrapper {
		padding: 0 20%;
	}
}

.wrapper__row {
	padding: 5rem 0;
	margin: 0 -1.5%;
	display: flex;
}

.wrapper__row > * {
	flex: 1 1 33.333333%;
	padding: 0 1.5%;
	display: flex;
	flex-direction: column;
}

.wrapper__row .title {
	color: white;
	font-family: 'Playfair Display';
	text-transform: uppercase;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.wrapper__row .text {
	color: white;
	margin-bottom: 1rem;
}

.categories .buttons {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -0.5rem;
}

.categories .buttons a {
	padding: 0 0.5rem;
	margin-bottom: 1rem;
	text-decoration: none; 
}

.categories .buttons button {
	background-color: #0f0f0f;
	color: #d1d1d1;
	padding: 0.5rem 1rem;
	border: none;
	font-size: 0.9rem;
	cursor: pointer;
	transition-property: color background-color;
	transition-duration: 150ms;
	transition-timing-function: ease-in;
}

.categories .buttons button:hover {
	color: #0f0f0f;
	background-color: #d1d1d1;
}

.mail form {
	width: 100%;
	display: flex;
}

.mail form input {
	flex-grow: 1;
	background-color: rgba(150, 150, 150, 0.7);
	color: white;
	padding: 0.8rem 1rem;
	border: none;
	font-size: 0.9rem;
}

.mail form button {
	cursor: pointer;
	background-color: #0f0f0f;
	color: #d1d1d1;
	padding: 0.5rem 1rem;
	border: none;
	font-size: 1rem;
	text-transform: uppercase;
	transition-property: color background-color;
	transition-duration: 150ms;
	transition-timing-function: ease-in;
}

.mail form button:hover {
	color: #0f0f0f;
	background-color: #d1d1d1;
}

@media only screen and (max-width: 767px) {
	.wrapper__row {
		flex-direction: column;
	}

	.wrapper__row > * {
		margin-bottom: 3rem;
	}

	.wrapper__row > *:last-child {
		margin-bottom: 0;
	}

	.wrapper__row .title {
		font-size: 2.5rem;
	}

	.wrapper__row .text {
		font-size: 1rem;
	}

	.wrapper__row .buttons button {
		font-size: 1rem;
	}

	.mail form {
		flex-direction: column;
	}

	.mail form input {
		font-size: 1rem;
	}

	.mail form button {
		font-size: 1.3rem;
	}
}
/*__Real__*/


/*__Fake__*/
.footer__fake {
	background-color: #0f0f0f;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0.7rem 10%;
}

.footer__fake > * {
	color: #d1d1d1;
	font-size: 0.8rem;
}

.footer__fake .right {
	text-decoration: underline;
	font-weight: 700;
	color: white;
}

@media only screen and (min-width: 1500px) {
	.footer__fake {
		padding: 1rem 20%;
	}

	.footer__fake > * {
		font-size: 1rem;
	}
}
/*___Real___*/
/*_Footer_*/